#### Regras de Associação

In [1]:
import pandas as pd
from apyori import apriori

In [18]:
dados = pd.read_csv("data/transacoes.txt", header=None)
dados

         0        1        2
0  Cerveja    Pizza  Sorvete
1    Pizza  Sorvete      NaN
2  Cerveja    Pizza      NaN
3  Cerveja    Pizza  Sorvete
4  Cerveja    Pizza      NaN
5    Pizza      NaN      NaN

In [19]:
transacoes = []
for i in range(0, 6):
    transacoes.append([str(dados.values[i, j]) for j in range(0, 3)])
print(transacoes)

[['Cerveja', 'Pizza', 'Sorvete'], ['Pizza', 'Sorvete', 'nan'], ['Cerveja', 'Pizza', 'nan'], ['Cerveja', 'Pizza', 'Sorvete'], ['Cerveja', 'Pizza', 'nan'], ['Pizza', 'nan', 'nan']]

In [22]:
regras = apriori(transacoes)

In [23]:
resultados = list(regras)

In [24]:
resultados2 = [list(x) for x in resultados]

In [25]:
resultados3 = []
for j in range(0, 7):
    resultados3.append([list(x) for x in resultados2[j][2]])
resultados3

[[[frozenset(), frozenset({'Cerveja'}), 0.6666666666666666, 1.0]],
 [[frozenset(), frozenset({'Pizza'}), 1.0, 1.0]],
 [[frozenset(), frozenset({'Sorvete'}), 0.5, 1.0]],
 [[frozenset(), frozenset({'nan'}), 0.6666666666666666, 1.0]],
 [[frozenset(), frozenset({'Cerveja', 'Pizza'}), 0.6666666666666666, 1.0],
  [frozenset({'Cerveja'}), frozenset({'Pizza'}), 1.0, 1.0],
  [frozenset({'Pizza'}), frozenset({'Cerveja'}), 0.6666666666666666, 1.0]],
 [[frozenset(), frozenset({'Cerveja', 'Sorvete'}), 0.3333333333333333, 1.0],
  [frozenset({'Cerveja'}), frozenset({'Sorvete'}), 0.5, 1.0],
  [frozenset({'Sorvete'}), frozenset({'Cerveja'}), 0.6666666666666666, 1.0]],
 [[frozenset(), frozenset({'Cerveja', 'nan'}), 0.3333333333333333, 1.0],
  [frozenset({'Cerveja'}), frozenset({'nan'}), 0.5, 0.75],
  [frozenset({'nan'}), frozenset({'Cerveja'}), 0.5, 0.75]]]