
#### Analysis of Churn data

In [2]:
# Import dos pacotes que serão utilizados
import pandas as pd
import seaborn as sbn
import statistics as sts

O primeiro passo é importar os dados do arquivo, utilizando o método read_csv da biblioteca pandas, o métodos head, mostra as 5 primeiras entradas, pode também ser usado o método tail, que mostra as 5 últimas

In [3]:
# Ler o arquivo Churn.csv e mostar as 5 primeiras entradas
dataset = pd.read_csv("data\\Churn.csv", sep=";")
dataset.head()

       X0   X1  X2         X3  X4  X4.1        X6  X7  X8  X9         X10  X11
994   996  838  SC  Masculino  43     9  12310588   2   1   0  14576583.0    0
995   997  610  SC  Masculino  29     9         0   3   0   1   8391224.0    0
996   998  811  SC  Masculino  44     3         0   2   0   1   7843973.0    0
997   999  587  SC  Masculino  62     7  12128627   1   0   1    677692.0    0
998  1000  811  PR   Feminino  28     4  16773882   2   1   1    990342.0    0